<div class="nov-search__canvas" nov-item-act data-act="search_canvas">
  <div class="container">
    <div class="row align-items-center header-search__parent pb-10 pt-10">
      <div class="col-md-12">
        <div class="site-header__search"> 
          {% include 'nov-formsearch-inline' %}
        </div>
      </div>
    </div>
  </div>
</div>