<div class="modal fade" id="ModalVideo">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" data-dismiss="modal"><i class="zmdi zmdi-close"></i></div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>