/* Template collections ============================================================================================= */
.template-collection {
   @media (min-width: 992px) {
      .collection-full_width .collection-top,
      .collection-full_width .collection-bottom {
         padding-left: 30px;
         padding-right: 30px;
      }
   }
   @media (min-width: 1600px) {
      .collection-full_width .collection-top,
      .collection-full_width .collection-bottom {
         padding-left: 65px;
         padding-right: 65px;
      }
   }
   @media (max-width: 991px) {
      .collection-full_width .collection-top,
      .collection-full_width .collection-bottom {
         padding-left: 15px;
         padding-right: 15px;
      }
      .collection_hidden {
         #grid-4,
         #grid-3 {
            display: none !important;
         }
      }
   }
   .collection-heading {
      font-size: 2rem;
      i {
         font-size: 18px;
         @include rtl-mr(10px);
      }
      &.heading_filter {
         border-bottom: 1px solid var(--color-border);
      }
   }
   .collection__category {
      .collection__category-item a {
         height: 44px;
         line-height: 44px;
         background-color: #efefef;
         border-radius: 0;
         margin-bottom: 2px;
         padding: 0 30px;
         transition: background 0.3s;
         color: var(--color-body-text);
         display: block;
         font-weight: 500;
         font-size: 1.4rem;
         &:hover {
            font-weight: 600;
            background-color: #dddddd;
         }
      }
      .collection__category-seemore {
         .seeless {
            display: none;
         }
         &.act {
            .seemore {
               display: none;
            }
            .seeless {
               display: block;
            }
         }
      }
   }
   .sidebar-filter .active-facets .btn--clear--item:nth-child(2) {
      margin-top: 20px;
   }
   .filter_button {
      cursor: pointer;
      display: none;
      i {
         @include rtl-mr(8px);
      }
      .zmdi-chevron-down {
         @include rtl-mlr(5px, 0);
         font-size: 20px;
      }
      @media (max-width: 991px) {
         display: block;
      }
   }
   .headingfilter {
      border-bottom: 1px solid #e9e9e9;
      padding-bottom: 11px;
      span {
         font-weight: 800;
         font-size: 1.6rem;
         text-transform: uppercase;
         line-height: 28px;
         color: var(--color-heading);
      }
      i {
         font-size: 18px;
         @include rtl-mr(6px);
      }
      @media (max-width: 767px) {
         margin-top: 0;
      }
   }
   .collection__title-seo {
      font-size: 2.2rem;
   }
   .gridlist-toggle {
      z-index: 1;
      @include flexbox();
      @include align-items(center);
      a {
         color: #595959;
         font-size: 17px;
         text-align: center;
         @include square(42px);
         background-color: #e9ebeb;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 3px;
         &#grid-4 {
            font-size: 25px;
         }
         &.active,
         &:hover {
            color: white;
            background-color: var(--theme-color-default);
         }
         &:not(:last-child) {
            @include rtl-mr(10px);
         }
      }
      @media (max-width: 767px) {
         #grid-4,
         #grid-3 {
            display: none;
         }
      }
   }
   [data-sortby-filter] {
      .nov-accordion__title.act {
         z-index: 10;
         &:before {
            content: "";
            position: absolute;
            top: -10px;
            @include rtl-l(-15px);
            border-radius: 10px 10px 0 0;
            width: calc(100% + 30px);
            height: calc(100% + 42px);
            border: 1px solid var(--color-border);
            border-bottom: 1px solid white;
            background-color: white;
         }
      }
      .nov-accordion__content {
         top: calc(100% + 30px);
         @include rtl-l(-15px !important);
         min-width: 260px;
         padding: 15px;
         z-index: 9;
         border: none;
         @include border-radius(0);
         border-radius: 10px;
         @include rtl-border-radius-topleft(0);
         border: 1px solid var(--color-border);
         margin: 0;
         @include box-shadow(10px 10px 10px rgba(black, 0.1));
         display: none;
         background-color: white;
         .lang-rtl & {
            @include box-shadow(-10px 10px 10px rgba(black, 0.1));
            border-top-left-radius: 10px;
         }
         [data-sortby-item] {
            font-size: 13px;
            margin-bottom: 15px;
            cursor: pointer;
            transition: all 0.4s;
            span {
               @include square(20px);
               min-width: 20px;
               border-radius: 100%;
               @include box-shadow(0 0 0 1px #cacaca);
               transition: all 0.3s;
               display: inline-block;
               vertical-align: middle;
               @include rtl-mr(15px);
            }
            &:hover,
            &.act {
               font-weight: 700;
            }
            &.act span {
               border: 4px solid white;
               background-color: var(--theme-color-default);
               @include box-shadow(0 0 0 1px var(--theme-color-default));
            }
         }
      }
   }
   .facet-checkbox {
      position: relative;
      &:hover {
         .custom-checkbox {
            border-color: var(--theme-color-primary);
         }
         .filter-option-value {
            font-weight: 500;
            color: black;
         }
      }
      input[type="checkbox"] {
         visibility: hidden;
         width: 0;
         height: 0;
         margin: 0;
      }
      .custom-checkbox {
         background: #fff;
         border-radius: 3px;
         width: 18px;
         height: 18px;
         border: 1px solid #d0d0d0;
         position: relative;
         display: inline-block;
         vertical-align: middle;
         @include rtl-mr(15px);
         cursor: pointer;
         text-align: center;
         i {
            display: none;
            font-size: 13px;
         }
      }
      > input:checked + .custom-checkbox {
         background-color: black;
         border-color: black;

         i {
            display: block;
            color: white;
         }
      }
      &.facet-checkbox--disabled {
         opacity: 0.6;
         pointer-events: none;
      }
   }
   .facets__list {
      max-height: 165px;
      overflow: auto;
      @include rtl-pr(10px);
      &::-webkit-scrollbar-track {
         background-color: #efefef;
         border-radius: 10px;
         border: 1px solid #dfdfdf;
      }
      &::-webkit-scrollbar {
         width: 10px;
      }
      &::-webkit-scrollbar-thumb {
         background-color: #b4b4b4;
         border-radius: 10px;
         border: 3px solid transparent;
         background-clip: content-box;
         &:hover {
            background-color: #777777;
         }
      }
      &.facets__list-color,
      &.facets__list-size {
         max-height: initial;
         overflow: hidden;
         padding: 2px 0;
         @include rtl-pr(0);
      }
   }
   .facets__list-size,
   .facets__list-color {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -5px;
   }
   .facet-color {
      display: inline-block;
      position: relative;
      @include rtl-mr(0);
      padding: 0 5px;
      margin-bottom: 10px !important;
      .filter-option-value {
         position: absolute;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         visibility: hidden;
         opacity: 0;
      }
      .facet-checkbox {
         margin-bottom: 0;
      }
      .custom-checkbox {
         cursor: pointer;
         margin: 0;
         border-radius: 50%;
         position: relative;
         width: 30px;
         height: 30px;
         border: 1px solid transparent;
         transition: padding 0.15s linear;
         span {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 50%;
            border: none;
         }
         &:hover {
            padding: 3px;
            border-color: black;
         }
         &.facet-color__white span {
            border: 1px solid #cccccc;
         }
      }
      .value_count {
         display: none;
      }
      input:checked + .custom-checkbox {
         background-color: transparent;
         border-color: black;
         padding: 4px;
         @include box-shadow(0 0 0 1px black);
         span {
            border: none !important;
         }
      }
   }
   .facet-size {
      display: inline-block;
      position: relative;
      padding: 0 5px;
      margin-bottom: 10px !important;
      width: 20%;
      .filter-option-value {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         font-size: 10px;
         font-weight: 600;
         color: var(--color-heading);
         width: 100%;
         text-align: center;
      }
      .facet-checkbox {
         margin-bottom: 0;
         &:hover .custom-checkbox {
            border-color: black;
         }
      }
      .custom-checkbox {
         cursor: pointer;
         margin: 0;
         border-radius: 3px;
         position: relative;
         width: 100%;
         height: 46px;
         border: 1px solid #c8c8c8;
         transition: border-color 0.2s linear, background-color 0.2s linear;
         i {
            display: none !important;
         }
      }
      .value_count {
         display: none;
      }
      input:checked + .custom-checkbox {
         background-color: var(--theme-color-default);
         border-color: var(--theme-color-default) !important;
      }
      input:checked ~ .filter-option-value {
         color: black;
      }
   }
   .filter-option-value {
      cursor: pointer;
   }
   .value_count {
      @include rtl-ml(auto);
      font-size: 11px;
      color: var(--color-heading);
   }
   .list-menu__item:not(:last-child) {
      margin-bottom: 5px;
   }
   .facets__label {
      font-family: var(--font-family-default);
      color: var(--color-heading);
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      cursor: pointer;
      display: flex;
      padding-top: 3px;
      margin-bottom: 20px;
      &:before {
         content: "\e9fe";
         font-family: "rbb-font";
         @include rtl-mr(15px);
         font-size: 11px;
      }
      &.act:before {
         content: "\e9f7";
      }
      facet-remove {
         @include rtl-ml(auto);
      }
      .facets__selected {
         color: var(--color-heading);
         cursor: pointer;
         font-size: 1.2rem;
         font-weight: 500;
         text-transform: initial;
      }
   }
   .facets__reset {
      font-size: 10px;
      color: #bcbcbc;
      font-weight: 600;
      &:hover {
         color: var(--color-heading);
      }
   }
   .facets__header {
      color: var(--color-heading);
      cursor: pointer;
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 30px;
   }
   .active-facets {
      .btn--clear--all {
         display: block;
         i {
            @include rtl-mr(7px);
            font-size: 14px;
         }
      }
      .btn--clear--item {
         font-family: var(--font-family-default);
         display: block;
         font-size: 12px;
         font-weight: 500;
         position: relative;
         text-transform: capitalize;
         i {
            font-size: 15px;
            @include rtl-ml(auto);
         }
      }
   }
   .facets__price {
      .field__input {
         font-size: 11px;
         font-weight: 600;
         text-transform: uppercase;
         padding: 0;
         appearance: none;
         border-color: #c8c8c8;
         border-radius: 5px;
         height: 38px;
         text-align: center;
         &::-webkit-outer-spin-button,
         &::-webkit-inner-spin-button {
            -webkit-appearance: none;
         }
         /* Firefox */
         &[type="number"] {
            appearance: textfield;
            -moz-appearance: textfield;
         }
         @include placeholder {
            color: var(--color-body-text);
         }
      }
      .field__text {
         margin: 0 5px;
         color: black;
      }
      .filter__price--bar {
         margin-bottom: 50px;
      }
      .filter__price--bar__bg {
         height: 7px;
         border-radius: 20px;
         border: 1px solid #ababab;
         background-color: white;
         position: relative;
         z-index: 2;
      }
      .progress {
         height: 7px;
         top: 0px;
         left: 0%;
         right: 0%;
         position: absolute;
         border-radius: 5px;
         background: black;
         z-index: 3;
         max-width: 100%;
      }
      .progress-number {
         font-size: 10px;
         font-weight: 600;
         color: #909090;
         top: 17px;
         z-index: 1;
         &.inner {
            transform: translateX(-50%);
            &:before {
               content: "";
               position: absolute;
               width: 1px;
               height: 18px;
               background-color: #ababab;
               bottom: calc(100% + 5px);
               left: 50%;
            }
         }
      }
      input[type="range"] {
         padding: 0;
         margin: 0;
         position: absolute;
         width: 100%;
         @include prefix(appearance, none, webkit moz spec);
         height: 7px;
         top: -1px;
         background: none;
         pointer-events: none;
         z-index: 9;
         border: none;
         &::-moz-range-thumb {
            height: 21px;
            width: 21px;
            border: none;
            border-radius: 50%;
            background: black;
            pointer-events: auto;
            -moz-appearance: none;
         }
         &::-webkit-slider-thumb {
            box-shadow: 0 0 #000;
            @include box-shadow(0 0 0 1px black);
            border: 10px solid white;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            background: white;
            pointer-events: auto;
            -webkit-appearance: none;
            cursor: pointer;
            transition: all 0.3s;
            background-color: white;
         }
         &:hover {
            &::-webkit-slider-thumb {
               border-width: 4px;
               background-color: black;
            }
         }
      }
   }
   .field__currency {
      font-size: 12px;
      font-weight: 800;
      color: var(--color-heading);
      @include rtl-mr(20px);
      text-transform: uppercase;
      &:first-child {
         min-width: 50px;
      }
      &.symbol {
         position: absolute;
         @include rtl-l(0);
         min-width: initial;
         top: -2px;
      }
   }
   .facets__list.Color {
      input:checked + .custom-checkbox {
         position: relative;
         &:before {
            content: "";
            position: absolute;
            @include square(18px);
            top: 50%;
            @include rtl-l(50%);
            @include translate(-50%, -50%);
            border: 1px solid black;
         }
      }
   }
   .facets__tag .tag__label {
      font-size: 1.4rem;
      i {
         @include rtl-mr(5px);
      }
   }
   .product_tags {
      margin: -5px;
      li {
         display: inline-block;
         padding: 5px;
      }
      a {
         height: 43px;
         border: 1px solid #c8c8c8;
         background: white;
         padding: 0 29px;
         @include display(inline-flex);
         @include align-items(center);
         @include justify-content(center);
         font-size: 1.2rem;
         font-weight: 500;
         border-radius: 5px;
         &:hover {
            background-color: var(--theme-color-default);
            border-color: var(--theme-color-default);
            color: white;
         }
      }
   }
   .collection__desc-content {
      font-size: 1.4rem;
      max-height: 130px;
      overflow: hidden;
      transition: max-height 0.3s ease;
      &:before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         width: 100%;
         height: 110px;
      }
      &.act {
         max-height: 500px;
         @media (max-width: 767px) {
            max-height: 1000px;
         }
         &:before {
            display: none;
         }
      }
   }
   .collection__desc-btn {
      font-size: 10px;
      .see_less {
         display: none;
      }
      &.act {
         .see_more {
            display: none;
         }
         .see_less {
            display: block;
         }
      }
   }
   .collection__product-content {
      .product--item {
         @include transition(ease-in-out all 0.4s);
         position: initial;
         margin-bottom: 40px;
         .item-product {
            margin-bottom: 0;
         }
      }
      &[data-grid="grid-4"] .product--item {
         @include flex(0 0 25%);
         max-width: 25%;
      }
      &[data-grid="grid-3"] .product--item {
         @include flex(0 0 33.333333%);
         max-width: 33.333333%;
      }
      &[data-grid="grid-2"] .product--item {
         @include flex(0 0 50%);
         max-width: 50%;
      }
      &[data-grid="list"] {
         .product--item {
            @include flex(0 0 100%);
            max-width: 100%;
            @include flex(0 0 100%);
            max-width: 100%;
            margin-bottom: 30px;
            .item-product.h_bd {
               border: none;
               padding: 0;
            }
            .inner-top {
               @include display(flex);
               @include align-items(center);
               padding: 20px;
               border: 1px solid #f1f1f1;
               border-radius: var(--border-radius-product-image);
               @include transition(all 0.3s ease);
               margin-bottom: 0;
               @include rtl-text-align-left();
               &:hover {
                  @include box-shadow(10px 10px 15px rgba(black, 0.1));
               }
               .product__available i {
                  @include rtl-mr(4px);
               }
               .cate {
                  a {
                     font-size: 10px;
                     font-weight: 600;
                     text-transform: uppercase;
                     color: #ccc;
                  }
                  a:hover {
                     text-decoration-line: underline;
                     text-decoration-color: #ccc;
                  }
               }
            }
            .thumbnail-container {
               width: 270px;
               .group-buttons {
                  display: none !important;
               }
            }
            .product__info {
               width: calc(100% - 270px);
               @include rtl-pl(30px);
               margin-top: 0;
               overflow: initial;
               @include rtl-text-align-left();
            }
            .product__price {
               margin-bottom: 0;
            }
            .btnAddToCart {
               margin: initial;
               margin-top: 30px;
            }
            .item-product__count-color {
               display: none;
            }
            .item-swatch {
               opacity: 1;
               visibility: visible;
               transform: translateY(0);
            }
            @media (max-width: 767px) {
               .item-product {
                  align-items: center;
               }
               .thumbnail-container {
                  width: 140px;
               }
               .product__info {
                  width: calc(100% - 140px);
                  padding-top: 0;
                  .product__title {
                     margin: 5px 0;
                  }
               }
            }
            @media (max-width: 575px) {
               .inner-top {
                  display: block;
               }
               .thumbnail-container {
                  width: 100%;
               }
               .product__info {
                  width: 100%;
                  margin-top: 20px;
                  padding: 0;
               }
            }
         }
      }
      &:not([data-grid="list"]) {
         .group_buttons_bottom .btnProductQuickview,
         .group_buttons_bottom .btnProductWishlist,
         .available_product,
         .desc,
         .cate {
            display: none !important;
         }
      }
   }
   .collection__btn-loadmore {
      min-width: 250px;
      .load {
         width: 20px;
         height: 20px;
         border-radius: 100%;
         border: 3px solid white;
         border-top: 3px solid black;
         animation: spin 2s linear infinite;
         display: none;
      }
      &.loading {
         background-color: var(--theme-color-default);
         span {
            display: none;
         }
         .load {
            display: inline-block;
         }
      }
   }
   .pagination__count {
      font-size: 12px;
   }
   .pagination__bar {
      width: 250px;
      height: 7px;
      border: 1px solid #ababab;
      border-radius: 20px;
      margin: auto;
      .progress {
         @include rtl-l(0);
         top: -1px;
         height: 7px;
         background-color: var(--theme-color-default);
         border-radius: 20px;
      }
   }
   .nov-pagination {
      margin-top: 60px;
   }
   .pagination {
      width: 100%;
      padding: 0;
      @include justify-content(center !important);
      background: transparent;
   }
   .showing-total,
   .pagination__viewing {
      display: none;
   }
   .sidebar-filter__btn-close {
      width: 30px;
      height: 45px;
      line-height: 45px;
      @include rtl-border-radius-topright(5px);
      @include rtl-border-radius-bottomright(5px);
      color: #a8a8a8;
      background-color: white;
      position: absolute;
      top: 40px;
      @include rtl-l(100%);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
         color: var(--theme-color-primary);
      }
      @media (max-width: 991px) {
         display: none;
      }
   }
   .collection-leftsidebar,
   .collection-rightsidebar,
   .collection-full_width {
      .active-facets,
      .js-filter:not(:last-child) {
         padding-bottom: 25px;
         margin-bottom: 25px;
         border-bottom: 1px solid #dcdcdc;
         .btn--clear--item {
            a:before {
               content: "";
               @include square(6px);
               border-radius: 100%;
               background-color: var(--color-body-text);
               @include rtl-mr(15px);
               display: inline-block;
            }
            &.first {
               margin-top: 25px;
            }
            &:not(:last-child) {
               margin-bottom: 10px;
            }
         }
      }
      .sidebar-filter {
         width: 270px;
         min-width: 270px;
         padding-top: 20px;
         @media (max-width: 991px) {
            width: 280px;
         }
      }
      .collection-filter__content {
         @include flex(auto);
      }
      &.collection-leftsidebar,
      &.collection-full_width {
         .collection-filter__content {
            @include rtl-pl(60px);
            @media (max-width: 1199px) {
               @include rtl-pl(30px);
            }
            @media (max-width: 991px) {
               @include rtl-pl(0);
            }
         }
      }
      &.collection-rightsidebar .collection-filter__content {
         @include rtl-pr(60px);
         @media (max-width: 1199px) {
            @include rtl-pr(30px);
         }
         @media (max-width: 991px) {
            @include rtl-pr(0);
         }
      }
      @media (min-width: 992px) {
         .collection-top {
            display: flex;
         }
      }
      @media (max-width: 991px) {
         .filter_button {
            display: inline-block;
         }
      }
   }
   .collection-topsidebar {
      @media (min-width: 992px) {
         .FacetsWrapperDesktop {
            display: flex;
            align-items: center;
            margin: 0 -1px;
            flex-wrap: wrap;
         }
         .facets__label .facets__label--title {
            padding: 0 25px;
            height: 55px;
            line-height: 55px;
            color: var(--color-button-text);
            font-size: 11px;
            font-weight: 800;
            text-transform: uppercase;
            cursor: pointer;
            background-color: #f2f2f2;
            transition: all 0.35s;
            width: 100%;
            border: 1px solid transparent;
            &:hover {
               color: white;
               background-color: var(--color-button-hover);
            }
            &:after {
               content: "\e9fe";
               font-family: rbb-font;
               font-size: 11px;
               @include rtl-ml(10px);
               display: inline-block;
            }
         }
         .js-filter {
            position: relative;
            padding: 0 1px;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            &.act {
               z-index: 10;
            }
            &[data-index="1"] .btn {
               border-radius: 3px 0 0 3px;
            }
            &:last-child,
            &:nth-last-child(2) {
               .btn {
                  border-radius: 0 3px 3px 0;
               }
               .facets__content {
                  @include rtl-lr(initial, 1px);
                  border-radius: 10px 0 10px 10px;
                  box-shadow: -10px 10px 15px rgba(black, 0.1);
                  .lang-rtl & {
                     border-radius: 0 10px 10px 10px;
                  }
               }
            }
            facet-remove {
               display: none;
            }
            .facets__content {
               display: none;
               position: absolute;
               top: calc(100% - 1px);
               @include rtl-l(1px);
               background-color: white;
               min-width: 300px;
               padding: 30px;
               border: 1px solid #d9d9d9;
               border-radius: 0 10px 10px 10px;
               @include box-shadow(10px 10px 15px rgba(black, 0.1));
               .lang-rtl & {
                  border-radius: 10px 0 10px 10px;
               }
            }
         }
         .active-facets {
            width: 100%;
            margin-top: 20px;
            display: flex;
            align-items: center;
            order: 1;
            .btn--clear--all {
               display: inline-block;
               .btn {
                  height: 44px;
                  line-height: 44px;
                  padding: 0 16px;
               }
            }
            .btn--clear--item {
               .active-facets__button {
                  height: 44px;
                  line-height: 44px;
                  padding: 0 16px;
                  border: 1px solid var(--color-border);
                  border-radius: 5px;
                  background-color: white;
                  &:hover {
                     background-color: #ececec;
                     strong {
                        color: var(--color-body-text);
                     }
                  }
                  .filter__label {
                     display: none;
                  }
                  strong {
                     font-weight: 500;
                  }
                  i {
                     @include rtl-ml(35px);
                  }
               }
               &:nth-child(2) {
                  margin-top: 0;
               }
            }
            facet-remove:not(:last-child) {
               @include rtl-mr(10px);
            }
         }
         .facets__label {
            margin-bottom: 0;
            z-index: 9;
            &:before {
               display: none;
            }
            &:hover {
               color: white;
            }
            &.act .facets__label--title {
               background-color: white;
               border-color: #d9d9d9;
               border-bottom-color: white;
               border-radius: 5px 5px 0 0;
               color: var(--color-heading);
            }
         }
         .facets__list {
            max-height: 355px;
         }
      }
      @media (max-width: 991px) {
         .active-facets,
         .js-filter:not(:last-child) {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid #dcdcdc;
            .btn--clear--item {
               a:before {
                  content: "";
                  @include square(6px);
                  border-radius: 100%;
                  background-color: var(--color-body-text);
                  @include rtl-mr(15px);
                  display: inline-block;
               }
               &.first {
                  margin-top: 25px;
               }
               &:not(:last-child) {
                  margin-bottom: 10px;
               }
            }
         }
      }
   }
   .collection-withoutsidebar,
   .collection-flash_deal {
      .sidebar-filter {
         display: none;
      }
   }
   .collection-canvasleft {
      .sidebar-filter {
         position: fixed;
         top: 0;
         background-color: white;
         height: 100vh;
         width: 350px;
         z-index: 999;
         @include rtl-l(-350px);
         @include opacity(0);
         visibility: hidden;
         @include transition(all 0.35s linear);
         &.act {
            @include rtl-l(0);
            @include opacity(1);
            visibility: visible;
         }
         .sidebar-filter__content {
            height: 100%;
            overflow-y: auto;
            padding: 50px 30px 50px;
            scrollbar-width: none;
            &::-webkit-scrollbar {
               display: none;
            }
         }
         .close-filter {
            position: absolute;
            top: 40px;
            @include rtl-r(15px);
            color: var(--color-heading);
            font-size: 16px;
            cursor: pointer;
            i {
               @include transition(all 0.3s linear);
            }
            &:hover {
               color: var(--theme-color-primary);
               i {
                  @include rotate(180deg);
               }
            }
         }
         .categories__sidebar {
            @include rtl-plr(40px, 15px);
            margin-bottom: 35px;
            border-bottom: 1px solid #ededed;
            padding-bottom: 35px;
            .title-block {
               position: relative;
               &:before {
                  content: "\f24e";
                  font-family: "Material-Design-Iconic-Font";
                  position: absolute;
                  @include rtl-l(-20px);
                  top: 0;
                  font-size: 12px;
               }
            }
         }
         @media (max-width: 991px) {
            width: 280px;
            @include rtl-l(-280px);
            .sidebar-filter__content {
               padding: 2px;
            }
         }
      }
      .canvas__remove {
         border-bottom: 1px solid var(--color-border);
         margin-bottom: 20px;
      }
      facet-remove:not(:last-child) {
         @include rtl-mr(10px);
      }
      .btn--clear--all {
         display: inline-block;
         .btn {
            height: 44px;
            line-height: 44px;
            padding: 0 16px;
         }
      }
      .btn--clear--item .active-facets__button {
         height: 44px;
         line-height: 44px;
         padding: 0 16px;
         border: 1px solid var(--color-border);
         border-radius: 5px;
         background-color: white;
         &:hover {
            background-color: #ececec;
            strong {
               color: var(--color-body-text);
            }
         }
         .filter__label {
            display: none;
         }
         strong {
            font-weight: 500;
         }
         i {
            @include rtl-ml(35px);
         }
      }
      .facets__label {
         padding-top: 3px;
         margin-bottom: 20px;
      }
      .js-filter:not(:last-child) {
         padding-bottom: 25px;
         margin-bottom: 25px;
         border-bottom: 1px solid #dcdcdc;
         .btn--clear--item {
            a:before {
               content: "";
               @include square(6px);
               border-radius: 100%;
               background-color: var(--color-body-text);
               @include rtl-mr(15px);
               display: inline-block;
            }
            &.first {
               margin-top: 25px;
            }
            &:not(:last-child) {
               margin-bottom: 10px;
            }
         }
      }
      .filter_button {
         vertical-align: middle;
      }
      .pagination__count-top {
         @include rtl-ml(30px);
         vertical-align: middle;
         span {
            font-weight: 400 !important;
         }
      }
   }
   .collection-canvastop,
   .collection-canvasbottom {
      .pagination__count-top {
         @include rtl-ml(30px);
         vertical-align: middle;
         span {
            font-weight: 400 !important;
         }
      }
      .facets__list.facets__list-color,
      .facets__list.facets__list-size {
         max-height: 176px;
         overflow-x: hidden;
         overflow-y: auto;
      }
      facet-remove {
         margin-bottom: 10px;
         &:not(:last-child) {
            @include rtl-mr(10px);
         }
      }
      .btn--clear--all {
         display: inline-block;
         .btn {
            height: 44px;
            line-height: 44px;
            padding: 0 16px;
         }
      }
      .btn--clear--item .active-facets__button {
         height: 44px;
         line-height: 44px;
         padding: 0 16px;
         border: 1px solid var(--color-border);
         border-radius: 5px;
         background-color: white;
         &:hover {
            background-color: #ececec;
            strong {
               color: var(--color-body-text);
            }
         }
         .filter__label {
            display: none;
         }
         strong {
            font-weight: 500;
         }
         i {
            @include rtl-ml(35px);
         }
      }
      @media (min-width: 992px) {
         .sidebar-filter {
            position: fixed;
            top: 0;
            left: 0;
            background-color: white;
            width: 100%;
            z-index: 999;
            @include opacity(0.7);
            visibility: hidden;
            transform: translateY(-100%);
            @include transition(all 0.5s linear);
            padding: 60px 0;
            &.act {
               transform: translateY(0);
               @include opacity(1);
               visibility: visible;
            }
         }
         .sidebar-filter__btn-close {
            top: 100%;
            @include rtl-l(50%);
            transform: rotate(90deg) translateX(-50%);
         }
         .sidebar-filter__content {
            max-width: 1320px;
            margin: auto;
            padding: 0 15px;
         }
         .filter_button {
            vertical-align: middle;
         }
         .pagination__count-top {
            @include rtl-ml(30px);
            vertical-align: middle;
            span {
               font-weight: 400 !important;
            }
         }
         .canvas__remove {
            border-bottom: 1px solid var(--color-border);
            margin-bottom: 20px;
         }
         .sidebar-filter__content .FacetsWrapperDesktop {
            gap: 30px;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
         }
         .facets__label:before {
            display: none;
         }

         @media (max-width: 1199px) {
            .facet-color .custom-checkbox {
               @include square(27px);
            }
         }
      }
      @media (max-width: 991px) {
         .facets__label {
            margin-bottom: 0;
         }
         .btn--clear--item .active-facets__button {
            padding: 0 10px;
            i {
               @include rtl-ml(15px);
            }
         }
         .pagination__count-top {
            margin-bottom: 10px !important;
         }
         .active-facets,
         .js-filter:not(:last-child) {
            padding-bottom: 25px;
            margin-bottom: 25px;
            border-bottom: 1px solid #dcdcdc;
         }
      }
   }
   .collection-canvasbottom {
      @media (min-width: 992px) {
         .sidebar-filter {
            top: initial;
            bottom: 0;
            transform: translateY(100%);
            &.act {
               transform: translateY(0);
            }
         }
         .sidebar-filter__btn-close {
            top: initial;
            bottom: 100%;
            transform: rotate(-90deg) translateX(-50%);
         }
      }
   }
   .collection-flash_deal {
      .filter_button {
         display: none !important;
      }
      @media (max-width: 767px) {
         #grid-2 {
            display: none;
         }
      }
   }
   @media (max-width: 991px) {
      .sidebar-filter {
         position: fixed;
         top: 0;
         background-color: white;
         height: 100vh;
         overflow-y: auto;
         width: 315px;
         z-index: 999;
         padding: 50px 20px 50px;
         @include rtl-l(-315px);
         @include opacity(0.6);
         visibility: hidden;
         @include transition(all 0.35s linear);
         &::-webkit-scrollbar-track {
            background-color: #eaeaea;
            @include border-radius(20px);
         }
         &::-webkit-scrollbar {
            width: 2px;
            background-color: #eaeaea;
            @include border-radius(20px);
         }
         &::-webkit-scrollbar-thumb {
            @include border-radius(20px);
            background-color: #ccc;
         }
         &.act {
            @include rtl-l(0);
            @include opacity(1);
            visibility: visible;
         }
         .close-filter {
            position: absolute;
            top: 40px;
            @include rtl-r(15px);
            color: var(--color-heading);
            font-size: 16px;
            cursor: pointer;
            i {
               @include transition(all 0.3s linear);
            }
            &:hover {
               color: var(--theme-color-primary);
               i {
                  @include rotate(180deg);
               }
            }
         }
         .categories__sidebar {
            @include rtl-plr(40px, 15px);
            margin-bottom: 35px;
            border-bottom: 1px solid #ededed;
            padding-bottom: 35px;
            .title-block {
               position: relative;
               &:before {
                  content: "\f24e";
                  font-family: "Material-Design-Iconic-Font";
                  position: absolute;
                  @include rtl-l(-20px);
                  top: 0;
                  font-size: 12px;
               }
            }
         }
      }
   }
}
@keyframes spin {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}
