/* Breadcrumbs =============================================================================================== */
#NovBreadcrumbs {
   position: relative;
   background-size: cover;
   background-color: var(--bg-breacrumb-default);
   .item-home i {
      @include rtl-mr(5px);
      font-size: 12px;
   }
   &.breadcrumb_default {
      padding-top: calc(35px + var(--spacing-breacrumb-df-t));
      padding-bottom: var(--spacing-breacrumb-df-b);
      background-color: #ffffff;
      .headingBreacrumb {
         color: var(--color-breacrumb-heading-default);
      }
      .item-breacrumb {
         color: var(--color-breacrumb-text-default);
      }
      .list-inline-item:not(:last-child):before {
         background-color: var(--color-breacrumb-text-default);
      }
   }
   &.breadcrumb_inner {
      padding-top: calc( 35px + var(--spacing-breacrumb-inner-t));
      padding-bottom: var(--spacing-breacrumb-inner-b);
      margin-bottom: 6rem;
      .breadcrumb {
         justify-content: center;
      }
      .headingBreacrumb {
         color: var(--color-breacrumb-heading-default);
         text-align: center;
      }
      .item-breacrumb {
         color: var(--color-breacrumb-text-default);
      }
      .list-inline-item:not(:last-child):before {
         background-color: var(--color-breacrumb-text-default);
      }
   }
   &.breadcrumb_collection {
      padding-top: var(--spacing-breacrumb-collec-t);
      padding-bottom: var(--spacing-breacrumb-collec-b);
      margin-bottom: 8rem;
      background-color: var(--bg-breacrumb-collec);
      .headingBreacrumb,
      .item-breacrumb {
         color: var(--color-breacrumb-collec);
      }
      .list-inline-item:not(:last-child):before {
         background-color: var(--color-breacrumb-collec);
      }
   }
   .headingBreacrumb {
      font-size: 3rem;
   }
   .item-breacrumb {
      font-size: 13px;
   }
   .breadcrumb {
      background: transparent;
      margin-bottom: 0;
      padding: 0;
      position: relative;
      z-index: 1;
      .list-inline-item {
         &:not(:last-child) {
            @include rtl-mr(13px);
            @include rtl-pr(11px);
            position: relative;
            &:before {
               content: "";
               @include square(4px);
               transform: rotate(45deg) translateY(-50%);
               position: absolute;
               @include rtl-r(-2px);
               top: 48%;
               border-radius: 1.5px;
            }
         }
         a:hover {
            color: var(--theme-color-primary) !important;
         }
      }
   }
   .breadcrumb-deal {
      position: absolute;
      @include rtl-r(15px);
      top: 50%;
      transform: translateY(-50%);
   }
   .breadcrumb-deal-t {
      @include rtl-mr(20px);
   }
   .breadcrumb-deal-i {
      @include rtl-mr(15px);
   }
   .countdownfree {
      @include display(flex);
      .item-time {
         text-align: center;
         @include square(60px);
         border: 1px solid #ff001a;
         position: relative;
         @include border-radius(5px);
         padding-top: 1px;
         @include box-shadow(4px 4px 0px 0px #c40619);
         &:not(:last-child) {
            @include rtl-mr(15px);
            background: black;
            color: white;
         }
         &:last-child {
            color: var(--color-heading);
            background: white;
         }
      }
      .name-time {
         display: block;
         font-size: 11px;
         line-height: 1;
         font-weight: 500;
      }
      .data-number {
         font-size: 2rem;
         font-weight: 800;
      }
   }
   @media (max-width: 1199px) {
      &.breadcrumb_default {
         padding-top: calc(35px + var(--spacing-breacrumb-df-t) * 0.7);
         padding-bottom: calc(var(--spacing-breacrumb-df-b) * 0.7);
      }
      &.breadcrumb_inner {
         padding-top: calc(35px + var(--spacing-breacrumb-inner-t) * 0.7);
         padding-bottom: calc(var(--spacing-breacrumb-inner-b) * 0.7);
      }
      &.breadcrumb_collection {
         padding-top: calc(var(--spacing-breacrumb-collec-t) * 0.7);
         padding-bottom: calc(var(--spacing-breacrumb-collec-b) * 0.7);
      }
   }
   @media (max-width: 767px) {
      .headingBreacrumb {
         font-size: 2.2rem;
      }
      &.breadcrumb_default {
         padding-top: Min(calc(var(--spacing-breacrumb-df-t) * 0.4), 30px);
         padding-bottom: Min(calc(var(--spacing-breacrumb-df-b) * 0.4), 30px);
      }
      &.breadcrumb_inner {
         padding-top: Min(calc(var(--spacing-breacrumb-inner-t) * 0.4), 30px);
         padding-bottom: Min(
            calc(var(--spacing-breacrumb-inner-b) * 0.4),
            30px
         );
      }
      &.breadcrumb_collection {
         padding-top: Min(calc(var(--spacing-breacrumb-collec-t) * 0.4), 30px);
         padding-bottom: Min(
            calc(var(--spacing-breacrumb-collec-b) * 0.4),
            30px
         );
         margin-bottom: 4rem;
      }
      .breadcrumb-deal {
         position: static;
         transform: translateY(0);
         margin-top: 15px;
      }
   }
   @media (max-width: 575px) {
      .breadcrumb-deal-i {
         display: none;
      }
      .countdownfree {
         .item-time {
            @include square(45px);
            &:not(:last-child) {
               @include rtl-mr(10px);
            }
         }
         .name-time {
            font-size: 9px;
         }
         .data-number {
            font-size: 12px;
         }
      }
   }
}
.item-contact {
   margin-left: 10px;
   .icon-phone {
      @include square(45px);
      min-width: 50px;
      @include border-radius(100%);
      i {
         font-size: 30px;
         color: var(--color-icon-phone);
      }

   }
   .address {
      .how-order {
         color: #b7b7b7;
         font-weight: 700;
         font-size: 10px;
         text-transform: uppercase;
         letter-spacing: .5px;
      }
      .phone-number {
         font-size: 1.2rem;
         font-weight: 800;
         color: #0d7a52;
         font-family: Poppins,HelveticaNeue,Helvetica Neue,sans-serif;
      }
   }
   p {
      line-height: 1;
      font-weight: 700;
   }
   .font-text {
      font-size: 14px;
      color: var(--color-heading);
   }
}
/* Site Header ================================================================================================================*/
.site-header .dropdown-toggle:after {
   display: none;
}
@media (max-width: 767px) {
   .site-header {
      position: relative;
      z-index: 102;
   }
}
#header-sticky {
   // .header-group-item {
   //    > div {
   //       @include rtl-mr(45px);
   //    }
   // }
   .wishlist, .site-header__cart {
      @include square(45px);
      border-radius: 50%;
   }
}
.header-vertical {
   background-color: #0d7a52;
   width: 100%;
   height: 60px;
   display: flex;
   border-radius: 40px;
   justify-content: start;
   cursor: pointer;
}
.header-top {
   padding: 41px 0;
   min-height: 129px;
   .header-top-right {
      &:last-child {
         @include rtl-mr(0!important);
      }
      .header-cu-lang {
         font-weight: 700;
         .dropdown,
         .dropdown-toggle {
            height: 100%;
            .current-currency,
            button {
               font-size: 13px;
               font-weight: 400;
               line-height: 1;
               text-transform: capitalize;
               color: var(--color-heading);
               &:hover {
                  color: var(--theme-color-default);
               }
            }
         }
         .nov-block-currency {
            @include rtl-plr(25px, 28px);
         }
      }
      .myaccount,
      .wishlist,
      .site-header__cart {
         @include square(45px);
         @include border-radius(100%);
         background-color: #ededed;
         @include rtl-mr(10px);
      }
      .site-header__cart {
         i {
            font-size: 20px;
         }
      }
      .title-cart {
         font-size: 1rem;
         letter-spacing: 1px;
         margin-left: 5px;
      }
   }
}
@media(max-width: 992px){
   .header-top {
      min-height: 45px;
      .header-top-right {
         .title-cart {
            display: none;
         }
      }
   }
}


.header-center {
   .content-header-center {
      height: 60px;
      .block-right {
         background-color: #0d7a52;
         @include border-radius(40px);
         padding: 8px;
      }
      .content-header-center-right {
         min-width: calc(100% - 240px);
         @include rtl-mr(9px);
      }
      .content-header-center-left {
         @include rtl-plr(40px, 15px);
      }
      .btn-vertical {
         margin: 0;
         width: 100%;
         height: 50px;
         min-width: 50px;
         background-color: var(--theme-color-default);
         border-radius: 40px;
         padding: 0 35px;
         cursor: pointer;
         color: white;
         display: flex;
         align-items: center;
         justify-content: center;
         &:hover {
            background-color: var(--theme-color-primary);
         }
      }
   }
   .header-contact {
      border-radius: 40px;
      cursor: pointer;
      &:hover {
         .rbb-icon-phone-1 {
            animation: policy 1.2s linear;
         }
      }
   }
   @media (max-width: 1199px) {
      .content-header-center-left {
         @include rtl-plr(10px !important, 0px !important);
         width: 70px;
      }
      .content-header-center-right {
         @include rtl-plr(0!important, 10px!important);
         width: calc(100% - 70px);
         max-width: calc(100% - 70px);
         .site-header__search {
            max-width: 100% !important;
         }
      }
   }
}
.header-center,
#header-sticky {
   .site-header__cart .site-header__cart-count {
      top: 12px;
      @include rtl-r(-7px);
   }
}
.header-icon {
   @include square(50px);
   border-radius: 15px;
   font-size: 16px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   position: relative;
   border-radius: 15px;
   transition: background-image 0.25s linear;
   &.search__btn-overlay {
      font-size: 19px;
   }
}
.header-text {
   font-size: 12px;
   font-weight: 700;
   position: relative;
   @include rtl-ml(15px);
   @media (max-width: 991px) {
      display: none;
   }
   &:before {
      content: attr(title);
      display: block;
      font-weight: 700;
      height: 0;
      overflow: hidden;
      visibility: hidden;
   }
}
.header-group-item {
   i {
      font-size: 18px;
   }
   .rbb-icon-search-10,
   .rbb-icon-shopping-cart-6 {
      font-size: 24px;
   }
   > div {
      &:not(:last-child) {
         @include rtl-mr(15px);
      }
      &:last-of-type {
         margin: 0 !important;
      }
   }
}
.header--wishlist {
   i {
      margin: 0 !important;
   }
}
#WishlistCount {
   min-width: 19px;
   height: 19px;
   line-height: 19px;
   top: -14px;
   @include rtl-r(-22px);
   background: var(--theme-color-default);
   font-size: 11px;
   color: white;
}
.btn-vertical {
   font-size: 20px;
   @include rtl-ml(20px);
   line-height: 1;
   font-family: "Poppins", "HelveticaNeue", "Helvetica Neue", sans-serif;
   i {
      color: #ff9c00;
   }
   span {
      color: white;
      font-size: 1.6rem;
      font-weight: 700;
      margin-left: 28px;
   }
}
@media(max-width: 992px){
   .btn-vertical {
      span {
         font-size: 10px;
         margin-left: 10px;
      }
   }
}
/* Header Sticky ==================================================================================== */
#header-sticky {
   @media (min-width: 768px) {
      position: fixed;
      width: 100%;
      top: -60px;
      @include rtl-l(0);
      z-index: 99;
      @include opacity(0);
      visibility: hidden;
      @include transition(all 0.3s linear);
      @include box-shadow(0 0 10px rgba(black, 0.1));
      padding-left: 4rem;
      padding-right: 4rem;
      .bl_content {
         height: 60px;
      }
      &.sticky-header-active {
         top: 0;
         @include opacity(1);
         visibility: visible;
      }
      .dropdown-toggle:after {
         display: none;
      }
      #AccessibleNav .site-nav {
         .nav--lv1 {
            padding-top: 0;
            padding-bottom: 0;
            .site-nav__link--main {
               padding-top: 19px;
               padding-bottom: 18px;
               color: var(--color-menu-sticky);
               height: 60px;
            }
            &.site-nav--has-dropdown > a:after {
               color: var(--color-menu-sticky);
            }
            @media (max-width: 1199px) {
               padding: 0 8px;
            }
         }
         .site-nav--active,
         .nav--lv1:hover {
            .site-nav__link--main {
               color: var(--color-menu-sticky-act);
            }
         }
      }
      .site-nav--Megamenu.site-nav--fw .megaMenu {
         @include rtl-l(0 !important);
         transform: translateX(0);
      }
      .header-icon {
         @include square(42px);
      }
      #cart_block #cart-info {
         padding-top: 5px;
      }
      .contentstickynew_logo {
         height: 60px;
      }
      .site-header__logo img {
         max-height: 52px;
         width: auto;
      }
      .header-text {
         display: none !important;
      }
   }
}
.block_social {
   ul {
      display: flex;
      align-items: center;
   }
   li:not(:last-child) {
      @include rtl-mr(5px);
   }
   a {
      @include square(26px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      font-size: 14px;
      svg {
         width: 15px;
         height: auto;
      }
      &:hover {
         color: var(--theme-color-primary);
      }
   }
   .social-title {
      display: none;
      @include rtl-ml(25px);
   }
}
.btn-social__toggle {
   text-align: center;
   min-width: 26px;
   width: 26px;
   height: 26px;
   line-height: 24px;
   border: 1px solid rgba(255, 255, 255, 0.15);
   border-radius: 3px;
   color: #fff;
   transition: all 0.35s ease;
   font-size: 13px;
}
/* Mini Cart ==================================================================================== */
.site-header__cart {
   position: relative;
   .site-header__cart-count {
      min-width: 18px;
      height: 18px;
      min-height: 18px;
      font-size: 11px;
      font-weight: 700;
      color: black;
      border-radius: 100%;
      background-color: var(--theme-color-default);
      position: absolute;
      top: 15px;
      @include rtl-r(-7px);
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
   }
   #CartCount {
      line-height: 18px;
   }
}
#cart-info .ajaxcart__product {
   position: relative;
   padding: 20px;
   .media {
      img {
         width: 110px;
         @include rtl-mr(20px);
         border-radius: 5px;
         border: 1px solid var(--color-product-border);
      }
   }
   .product-name,
   .ajaxcart__product-meta {
      span {
         font-size: 12px;
         text-transform: none;
         color: var(--color-heading);
         font-weight: 700;
         display: block;
         margin-bottom: 13px;
         &.title:hover {
            color: var(--theme-color-primary);
         }
         &.bt_s {
            color: var(--color-body-text);
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 600;
            margin-bottom: 8px;
         }
      }
   }
   .product-price {
      font-size: 12px;
      color: var(--color-heading);
      font-weight: 800;
      font-family: var(--font-family-primary);
   }
   .quantity {
      font-size: 1.2rem;
      color: var(--color-heading);
      font-weight: 500;
   }
   .remove-from-cart {
      font-size: 13px;
      color: #5e5e5e;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      @include square(23px);
      @include border-radius(100%);
      background: #e6e6e6;
      @include rtl-ml(10px);
      cursor: pointer;
      &:hover {
         background-color: var(--theme-color-primary);
         color: white;
      }
   }
   .cart__mini--qty {
      .cart__mini-qty--input {
         width: 40px !important;
         height: 36px !important;
         font-family: var(--font-family-default);
         font-size: 13px;
         color: var(--color-heading);
         text-align: center;
         padding: 0;
         border: none;
         /* Chrome, Safari, Edge, Opera */
         &::-webkit-outer-spin-button,
         &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
         }
         /* Firefox */
         &[type="number"] {
            appearance: textfield;
            -moz-appearance: textfield;
         }
      }
      .cart__mini-qty {
         font-weight: 300;
         font-size: 1.4rem;
         color: var(--color-body-text);
         border: none;
         width: 25px;
         min-width: 25px;
         height: 25px;
         line-height: 25px;
         @include flexbox();
         @include align-items(center);
         @include justify-content(center);
         border-radius: 100%;
         &:hover {
            background-color: #e9e9e9;
         }
      }
      .quantity {
         max-width: 89px;
      }
   }
}
// Cart canvas
.block_cart_canvas #desktop_cart {
   width: 370px;
   border: none;
   display: block;
   height: 100vh;
   max-height: 100vh;
   position: fixed;
   z-index: 99999;
   background: white;
   top: 0 !important;
   @include rtl-r(-330px);
   @include opacity(0);
   visibility: hidden;
   @include rtl-b-l(1px solid var(--color-border));
   @include transition(all 0.5s ease);
   &.active {
      @include rtl-r(0);
      opacity: 1;
      visibility: visible;
   }
   .block_cart_top {
      border-bottom: 1px solid var(--color-border);
      padding: 5px 20px;
      height: 60px;
      left: 0;
      width: 100%;
      background-color: white;
      &.scroll-down {
         position: fixed;
         top: -60px;
         opacity: 0;
      }
      &.sticky-sm {
         position: fixed;
         top: 0;
         opacity: 1;
         @include box-shadow(0 0 10px rgba(black, 0.1));
         transition: all 0.3s;
         z-index: 9;
      }
   }
   .site-header__cart-icon {
      @include rtl-mr(10px);
      font-size: 33px;
   }
   .cart__canvas--title {
      font-size: 1.4rem;
   }
   #cart-info {
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: white;
      position: relative;
      p.cart {
         padding: 40px 20px 20px;
      }
      .cart {
         @include flexbox();
         @include flex-flow(column);
         height: 100vh;
         .ajaxcart__product {
            padding: 0;
            &:not(:last-child) {
               margin-bottom: 20px;
            }
         }
      }
      .ajaxcart__inner {
         position: relative;
         padding-bottom: 30px;
         overflow-y: auto;
         @media (max-width: 767px) {
            margin-bottom: 0;
         }
         &::-webkit-scrollbar-track {
            background-color: #ededed;
            border-radius: 10px;
         }
         &::-webkit-scrollbar {
            width: 8px;
         }
         &::-webkit-scrollbar-thumb {
            background-color: #9c9c9c;
            border-radius: 10px;
            border: 2px solid transparent;
            background-clip: content-box;
         }
         .ajaxcart__inner--content {
            padding: 0 20px 20px;
         }
      }
      .ajaxcart__footer {
         margin-top: auto;
         padding: 35px 20px 120px;
         position: relative;
         @media (min-width: 768px) {
            &.h_scroll:after {
               content: "";
               position: absolute;
               top: -30px;
               left: 0;
               width: 100%;
               height: 30px;
               background-color: transparent;
               background: linear-gradient(
                  180deg,
                  rgba(black, 0),
                  rgba(black, 0.1) 100%
               );
            }
         }
         .cart-note label {
            margin-top: 10px;
         }
         .subtotal {
            padding: 10px 0;
            margin-bottom: 15px;
            font-weight: 800;
            text-transform: uppercase;
            font-family: var(--font-family-primary);
            color: var(--color-heading);
            border-bottom: 1px solid var(--color-border);
            @media (max-width: 767px) {
               border-top: 1px solid var(--color-border);
               border-bottom: none;
               padding: 15px 0;
            }
            label {
               font-size: 1.2rem;
               margin: 0;
            }
            span {
               font-size: 1.6rem;
            }
         }
         .cart_view {
            display: block;
            margin: 0 60px;
            padding: 35px 0 10px;
         }
         .btn {
            width: 100%;
            font-size: 12px;
            font-family: var(--font-family-primary);
            height: 46px;
            line-height: 46px;
            letter-spacing: 1px;
            &.cart__checkout {
               margin-top: 10px;
               opacity: 0.6;
               pointer-events: none;
               color: white;
               background-color: black;
               &:hover {
                  color: black;
                  background-color: var(--theme-color-default);
               }
            }
         }
         .custom-checkbox {
            @include square(20px);
            border-radius: 3px;
            border: 1px solid #d0d0d0;
            @include rtl-mr(10px);
            text-align: center;
            line-height: 18px;
            i {
               display: none;
               color: white;
            }
         }
         .label__text p {
            margin-bottom: 0;
         }
         #checkout__canvas:checked ~ [for="checkout__canvas"] .custom-checkbox {
            background-color: var(--theme-color-default);
            border-color: var(--theme-color-default);
            i {
               display: inline-block;
            }
         }
         #checkout__canvas:checked ~ .cart__checkout {
            opacity: 1;
            pointer-events: initial;
         }
      }
      #threshold_bar_popup_minicart {
         margin-bottom: 30px;
      }
   }
   @media (max-width: 991px) {
      width: 400px;
      @include rtl-r(-320px);
   }
   @media (max-width: 767px) {
      &.item_count {
         overflow-x: hidden;
         overflow-y: auto;
      }
      width: 100%;
      &.open-extend {
         overflow-y: hidden;
         &:before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(white, 0.7);
            z-index: 10;
         }
      }
      .cart_extend--label {
         background-color: #ebebeb;
      }
      .extend--label__item {
         background-color: transparent;
         margin-bottom: 0;
         &:not(:last-child) {
            @include rtl-b-r(1px solid white);
         }
      }
   }
   @media(max-width: 576px) {
      width: 100%;
   }
}

/*=============== Mini Cart Extent ============= */
.cart_extend {
   position: absolute;
   top: 0;
   @include rtl-l(0);
   width: 370px;
   height: 100%;
   background-color: white;
   opacity: 0;
   visibility: hidden;
   @include rtl-b-r(1px solid var(--color-border));
   transition: all 0.3s;
   &.act {
      opacity: 1;
      visibility: visible;
      @include rtl-l(-370px);
   }
   @media (max-width: 991px) {
      width: 320px;
      &.act {
         @include rtl-l(-320px);
      }
   }
   @media (max-width: 767px) {
      position: fixed;
      width: 100%;
      top: initial;
      bottom: 0;
      height: initial;
      @include rtl-l(0 !important);
      z-index: 11;
      padding-bottom: 40px;
      box-shadow: 0 0 10px rgba(black, 0.1);
   }
}
.cart_extend--label {
   top: 60px;
   @include rtl-r(100%);
   transition: all 0.3s;
   &.act {
      transition: all 0.3s;
      @include rtl-r(calc(100% + 370px));
      @media (max-width: 991px) {
         @include rtl-r(calc(100% + 320px));
      }
   }
}
.extend--label__item {
   @include square(46px);
   text-align: center;
   line-height: 47px;
   @include rtl-border-radius-topleft(5px);
   @include rtl-border-radius-bottomleft(5px);
   background-color: white;
   cursor: pointer;
   color: white;
   font-size: 20px;
   transition: all 0.3s;
   i {
      display: none;
   }
   &:not(:last-child) {
      margin-bottom: 5px;
   }
   svg path {
      fill: #787878;
   }
   &:hover svg path {
      fill: black;
   }
   &.act {
      background-color: black;
      svg {
         display: none;
      }
      i {
         display: inline-block;
      }
   }
}
.cart_extend-header {
   padding: 18px 20px;
   height: 60px;
   border-bottom: 1px solid var(--color-border);
   margin-bottom: 30px;
   svg {
      @include rtl-mr(20px);
      path {
         fill: black;
      }
   }
}
.cart_extend-content {
   padding: 0 20px;
}
.cart__discount-desc {
   font-size: 1.2rem;
   span {
      color: #e73939;
   }
}
.cart_extend--input,
.cart_extend--select {
   height: 50px;
   border-radius: 5px;
   border: 1px solid var(--color-border);
   color: var(--color-body-text);
}
.cart_extend--select {
   @include prefix(appearance, none, webkit moz spec);
   background-image: url("icon-arrow-down.png");
   background-repeat: no-repeat;
   background-position: center right 15px;
   .lang-rtl & {
      background-position: center left 15px;
   }
}
.cart_extend--textarea {
   border-color: var(--color-border);
   border-radius: 5px;
   height: 200px;
   background-color: #f5f5f5;
   @include placeholder {
      color: var(--color-body-text);
   }
}
.cart_extend--select_label {
   font-size: 1.2rem;
   font-weight: 600;
   margin-bottom: 7px;
}
.close_cart {
   cursor: pointer;
   font-size: 24px;
   color: var(--color-heading);
   line-height: 1;
   @include rotate(0deg);
   @include transition(all 0.3s ease);
   &:hover {
      @include rotate(180deg);
      @include transition(all 0.3s ease);
   }
}
/* Footer =============================================================================================== */
.nov-footer {
   font-size: 1.4rem;

   body:not(.template-index) & {
      margin-top: 80px;
      border-top: 1px solid var(--color-border);
   }
   .title-block {
      font-size: 1.8rem;
      font-weight: 900;
      font-family: var(--font-family-primary);
      margin-bottom: 25px;
      position: relative;
      text-transform: uppercase;
   }
   .footer-subtitle {
      margin-bottom: 25px;
      max-width: 440px;
   }
   .f_btn_sl {
      font-size: 21px;
      @include rtl-ml(auto);
      position: absolute;
      top: -7px;
      @include rtl-r(0);
      &.active i:before {
         content: "\f273";
      }
   }
   .footer_contact {
      .summary-footer {
         @include rtl-pr(107px);
         font-size: 14px;
         line-height: 24px;
      }
      .logo-footer {
         img {
            margin-bottom: 15px;
         }
      }
   }
   .footer_multi {
      .footer-language {
         button {
            @include transition(all 0.35s ease-in-out);
            &:hover {
               color: var(--theme-color-default);
            }
         }
      }
      .footer-currency {
         .dropdown-toggle {
            @include transition(all 0.35s ease-in-out);
            &:hover {
               color: var(--theme-color-default);
            }
         }
      }
   }
   .footer-layout {
      .nov-block-currency .dropdown-toggle {
         background-color: transparent;
         font-size: 11px;
         padding: 0 20px;
         font-weight: 500;
         transition: all 0.3s;
         height: 50px;
         border-radius: 50px;
         border: 1px solid rgba(white, 1);
         &:hover {
            background-color: rgba(white, 0.1);
         }
      }
      .block_currency_selector {
         border-radius: 3px;
      }
      .nov-language {
         .lang__list {
            border-radius: 3px;
         }
         button {
            background-color: transparent;
            padding: 0 20px;
            font-size: 11px;
            font-weight: 500;
            height: 50px;
            border-radius: 50px;
            text-transform: uppercase;
            border: 1px solid rgba(white, 1);
            i {
               width: auto;
            }
            &:hover {
               background-color: rgba(white, 0.1);
            }
         }
         input[type="hidden"] {
            display: none;
         }
      }
   }
   .footertop-item__contact {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
      .footertop-item__icon {
         min-width: 30px;
         width: 30px;
         text-align: center;
         @include rtl-mr(25px);
      }
      .phone strong {
         font-size: 18px;
         font-weight: 700;
         line-height: 1;
         @media (max-width: 1440px) {
            display: block;
            margin-top: 5px;
         }
         @media (max-width: 575px) {
            font-size: 1.6rem;
         }
      }
   }
   .footer_menu {
      li:not(:last-child) {
         margin-bottom: 10px;
      }
   }
   .footer_newsletter {
      .errors ul {
         @include rtl-pl(0);
         margin-bottom: 20px;
         list-style-type: none;
         font-weight: 700;
      }
      .block-content {
         position: relative;
      }
      input {
         height: 54px;
         color: #222222;
         font-family: var(--font-family-default);
         background: white;
         z-index: initial;
         border-radius: 50px !important;
         @include rtl-plr(20px, 100px);
         border: none;
         font-size: 16px;
         border: 1px solid black;
         @include placeholder {
            font-size: 13px;
            color: #959595;
         }
      }
      button {
         height: 46px;
         line-height: 46px;
         color: black;
         font-size: 16px;
         font-family: var(--font-family-primary);
         text-transform: capitalize;
         min-width: initial;
         position: absolute;
         top: 50%;
         @include rtl-r(20px);
         @include translateY(-50%);
         background-color: transparent;
         padding: 0;
         &:hover {
            color: var(--theme-color-default);
         }
      }
      .block_social a {
         border-radius: 50%;
         @include square(30px);
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }
   .footer_multi .title {
      font-size: 11px;
      font-family: var(--font-family-primary);
   }
   .footer__payment .payment__item:not(:last-child) {
      @include rtl-mr(9px);
   }
   .footer_copyright {
      border-top: 1px solid rgba(white, 0.1);
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.6rem;
      .dropdown-toggle i {
         font-size: 20px;
      }
      .nov-language {
         @include rtl-mr(20px);
         button {
            text-transform: uppercase;
            i {
               width: auto;
            }
         }
      }
      @media (max-width: 767px) {
         padding-bottom: 80px !important;
      }
      .block_social a {
         border-radius: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         @include square(30px);
         &:hover {
            color: white !important;
            background-color: var(--theme-color-default) !important;
         }
      }
   }
   .footer_html .block_social {
      li:not(:last-child) {
         @include rtl-mr(12px);
      }
      a {
         @include square(initial);
      }
   }
   @media (min-width: 992px) {
      .footer_html .block-content {
         max-width: 370px;
      }
      .footer-layout .dropdown {
         width: 220px;
      }
   }
   @media (max-width: 767px) {
      .block-news {
         order: 0;
         margin-bottom: 50px;
      }
      .block-menu {
         order: 1;
      }
      .block-multi {
         order: 2;
      }
   }
   @media (max-width: 575px) {
      .block-content.h_t {
         display: none;
      }
   }
}
// Backtotop -----------------------------------------------------------------------------------------------------------
#_desktop_back_top {
   position: fixed;
   bottom: 70px;
   @include rtl-r(15px);
   z-index: 999;
   cursor: pointer;
   display: none;
   span {
      @include square(40px);
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include border-radius(50%);
      border: 2px solid var(--theme-color-default);
      background-color: var(--theme-color-default);
      color: white;
      font-size: 2rem;
      @include transition(all 0.2s linear);
      @include box-shadow(inset 0 0 0 3px white);
   }
   &:hover span {
      @include box-shadow(inset 0 0 0 0 white);
   }
   @media (max-width: 991px) {
      bottom: 130px;
   }
   @media (max-width: 767px) {
      bottom: 55px;
   }
}
body {
   @include transition(none);
   @include rtl-l(0);
   @include rtl-r(0);
   position: relative;
   font-size: var(--font-size-base);
   font-family: var(--font-family-default);
   color: var(--color-body-text);
   line-height: 1.7;
   &.template-index {
      background-color: var(--bg-body);
   }
   &:not(.template-index){
      .site-nav-vertical {
         display: none;
      }
      .header-top {
         min-height: 0;
      }
   }
   &.open-canvans-cart {
      overflow: hidden;
      .sidebar-overlay {
         z-index: 999 !important;
      }
   }
   &.vertical-open {
      position: relative;
   }
   &.loading {
      position: relative;
      &:before {
         content: "";
         display: block;
         @include square(120px);
         background-image: url("/loading_option.svg");
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         @include display(inline-block);
         position: fixed;
         top: 50%;
         @include rtl-l(50%);
         transform: translate(-50%, -50%);
         z-index: 999;
      }
      .canvas-overlay {
         @include opacity(1);
         visibility: visible;
      }
   }
   &.cart_popup_opened.loading .canvas-overlay {
      @include opacity(0);
      visibility: hidden;
   }
   &.open {
      overflow: hidden;
   }
   .canvas-overlay,
   .sidebar-overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 99;
      background: rgba(0, 0, 0, 0.5);
      @include opacity(0);
      visibility: hidden;
      @include transition(all 0.3s linear);
      // cursor: url("/icon-close.svg"), auto;
      @media (max-width: 767px) {
         @include rtl-l(0);
      }
      &.act {
         @include opacity(1);
         visibility: visible;
      }
   }
}
body:not(.template-index) {
   .site-header {
      .header-top {
         padding-bottom: 6px;
      }
      .header-center {
         top: 35px;
         z-index: 2;
      }
   }
   @media (max-width: 991px) {
      .site-header {
         .header-center {
            margin-top: -35px
         }
      }
   }
}
